%line{
    display: inline-block;
    position:absolute;
    content:"";
    background-color:$color-brand;
    height:2px;
    width:100%;
}

.hamburger{
   display: none;  

   width:32px;
   height: 22px; 
   position:relative;
   z-index:3;
   &:before{
    @extend %line;
    top:0;
    left:0;
   }
   &:after{
    @extend %line;
    bottom:0;
    left:0;
   }

   @include media-tablet{
    display: block; 
   };

   @media (max-width: 460px){
    margin-top: 0.5rem;
    margin-right: 4.3rem;
  }
   
}

.line{
    @extend %line;
    top:calc((50%) - (1px));
    left:0;
    
}

.windDark._active{
  position: absolute;
top: 0;
left: 0;
background: rgba(41, 41, 41, 0.6);
width: 100vw;
height: 120vh;
z-index: 1;
}

//animation

.hamburger._active {
  transform: rotate(90deg);
  transition: .5s;
}
