    $color-brand:#F1CDB3;
    $color-brand-hover:#FDDCC4;
    $color-bg:#F6F6F6; 
    
    $color-head-hover:#FAFAFA;
    
    $color-text: #CDCDCD;
    $color-text-btn:#292929;
    $color-text-about: #4C4C4C;
    $color-text-donation:#B2B2B2;
    
    $color-h-main:#FFFFFF;
    $color-h-main-border:#000000;
    $color-h:#545454;
